body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #222222;
  background-color: #ffffff;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}
.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
#main_nav {
  min-height: 50px;
  width: 100%;
  background-color: #3498db;
}
#main_nav ul {
  list-style: none;
  padding: 0;
  padding-left: 60px;
  padding-top: 20px;
}
#main_nav ul li {
  display: inline;
  float: left;
  width: 200px;
  padding-right: 40px;
}
#main_nav ul li a {
  color: #222222;
  font-weight: 700;
}
.container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after {
  clear: both;
}
.well {
  background-color: #eeeeee;
  border: 1px solid #999999;
  padding: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.color_list {
  list-style: none;
}
.color_list li {
  display: inline;
  float: left;
  padding-right: 40px;
}
.color_list li div {
  width: 100px;
  height: 100px;
}
.black_square {
  background-color: #000000;
}
