// Background Color
@bodyBackground:	@white;


// Main Nav
#main_nav {
	min-height: 50px;
	width: 100%;
	background-color: @blue;

	ul {
		list-style: none;
		padding: 0;
		padding-left: 60px;
		padding-top: 20px;

		li {
			display: inline;
			float: left;
			width: 200px;
			padding-right: 40px;

			a {
				color: @grayDarker;
				font-weight: 700;
			}
		}
	}
}


// Main Container
.container {
	width: 960px;
	.container-fixed();
}


// Basic Well
.well {
	background-color: @grayLighter;
	border: 1px solid @grayLight;
	padding: 20px;
	.border-radius(6px); 
}


// Color List
.color_list {
	list-style: none;

	li {
		display: inline;
		float: left;
		padding-right: 40px;

		div {
			width: 100px;
			height: 100px;
		}
	}
}

// An exciting black square!
.black_square {
	background-color: @black;
}

